<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BTS再登國際舞台!入圍全美音樂獎創韓國首例</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/A-1.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>