<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>我就知道會有這天!CGV推出BT21系列飲料杯</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/A-2.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>