<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>買瘋了!超過100樣韓國戰利品分站 彩妝篇</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/A-3.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>