<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>殭屍電影宇宙!南韓夯片〈屍速列車〉要拍續集</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/A-4.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <a id="back_home" href="javascript:;">回首頁</a>
        <script src="/js/main.js"></script>
    </body>
</html>