<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>怎麼利用有/無氧練出腹肌以及強壯肌肉體態</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/B-2.jpg");
            }
        </style>
    </head>
    <body>
        <a id="back_home" href="javascript:;">回首頁</a>
        <script src="/js/main.js"></script>
    </body>
</html>