<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>北海道震後拚觀光 10月起外國客住宿費打3折</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/B-3.jpg");
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>