<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/mini-default.min.css">
    </head>
    <body>
        <h1>潮男</h1>
        <h2>黑咖啡聊美劇</h2>
        <a id="back_home" href="javascript:;">回首頁</a>
        <script src="/js/main.js"></script>
    </body>
</html>