<style>
    .btn--back{  
        background: #EA631A;
        width: 300px;
        height: 63px;
        line-height: 1.2;
        font-size: 25px;
        font-family: sans-serif;
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #fff !important;
        text-align: center;
        box-sizing: border-box;
        padding-top: 18px;
        text-decoration: none !important;
    }
</style>
<a class="btn--back" href="/">返回主頁 體驗更多</a>