<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>享受吧!一個女生去歐洲旅行</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/C-2.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>