<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>2018陸劇下半年推薦!10部必看知名主角劇情介紹</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/C-4.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>