<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>3歲、7歲、10歲決定孩子一生的競爭力</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/D-3.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <%- include('back') %>
        <script src="/js/main.js"></script>
    </body>
</html>