<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>康芮逼台 恐變強颱 潭美撲日本 關西機場如臨大敵</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/D-4.jpg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <a id="back_home" href="javascript:;">回首頁</a>
        <script src="/js/main.js"></script>
    </body>
</html>