<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DDC網路廣告實境主頁</title>
        <link rel="stylesheet" href="/css/mini-default.min.css">
        <style>
            body {
                background-image: url("/img/Home.jpg");
                /* background-repeat: no-repeat; */
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
    </body>
 </html>