<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/mini-default.min.css">
    </head>
    <body>
        <h1>DDC網路廣告實境 互動體驗區</h1>
        <h2><mark class="inline-block">ISOCARD</mark></h2>
        <h5>請選擇不同消費者角色卡，感應後，即可看到不同的DDC分眾廣告</h5>
    </body>
 </html>